[Unit]
Description=Raspberry PI Fan Control Service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/fan-control/fan-control.py

[Install]
WantedBy=multi-user.target